#contents {
	width: 100%;
	text-align:center;
}
#number {
	font-size: 150pt;
}
#message {
	font-size: 20pt;
	color:red;
}
#regenerate {
	width: 100px;
}
.answer {
	width: 120px;
}

#timer-gauge {
	padding: 0;
	border: solid 1px #cccccc;
	height: 10px;
	text-align: center;
}
#timer-time {
	float: left;
	margin: 0;
	padding: 0;
	background-color: red;
	height: 10px;
	display: inline-block;
}
#timer-rest {
	float: left;
	margin: 0;
	padding: 0;
	background-color: green;
	height: 10px;
	display: inline-block;
}
