#contents {
	width: 100%;
	text-align:center;
}
#number {
	font-size: 150pt;
}
#message {
	font-size: 20pt;
	color:red;
}
#regenerate {
	width: 100px;
}
.answer {
	width: 120px;
}

#timer-gauge {
	padding: 0;
	border: solid 1px #cccccc;
	/*width: 200px;*/
	height: 10px;
}
#timer-time {
	margin: 0;
	padding: 0;
	background-color: red;
	height: 10px;
	/*width: 50%;*/
	display: inline-block;
}
#timer-rest {
	margin: 0;
	padding: 0;
	background-color: green;
	height: 10px;
	/*width: 50%;*/
	display: inline-block;
}
